body{
    background-color: rgb(22, 232, 247);
}

h1{
text-align: center;
font-size: 45px;
color: white;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    text-align: center;
}

#jarko{
    display: block;
   margin-left: auto;
   margin-right: auto;
   height: 50px;   
}
