body{
    background-color: gray;
}

h1{
text-align: center;
font-size: 45px;
color: white;
}

h2{
    text-align: center;
    

}

p{
    text-align: center;
}

#Marian{
    display: block;
   margin-left: auto;
   margin-right: auto;
   height: 500px;   
}
#jarko{
    text-align: center;
}