* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigacny_panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 9%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-top: 2px solid rgb(255, 0, 0);
}

.logo_stranka {
    margin-left: 100px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
}
nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu {
    margin-left: 20px;
    
}

.kosik {
    margin-right: 120px;
}

.kontajner1 {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.kontajner2 {
    margin-top: 68px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
    padding-left: 8%; 
    padding-right: 8%;
    box-sizing: border-box;
}





.nadpis {
    text-align: center;
    padding: 60px   ;   
    color: rgb(255, 0, 0);
    font-size: 50px;
}

.nazov {
    text-align: center;
}
.cena {
    text-align: center;
}

.popis {
    text-align: center;
    max-width: 750px;
    margin-left: 150px;
    margin-top: 117px;
    color: aliceblue;
}
.parametre {
    text-align: center;
}





.produkt1 {
    display: flex;
}
.produkt11 {
    margin-bottom: 100px;
}





.produkt2 {
    display: flex;
}

.produkt22 {
    margin-bottom: 60px;
}





.produkt3 {
    display: flex;
}

.produkt33 {
    margin-bottom: 50px;
}





.produkt4 {
    display: flex;
}

.produkt44 {
    margin-bottom: 50px;
}




.produkt5 {
    display: flex;
}

.produkt55 {
    margin-bottom: 50px;
}





h2 {
    color: rgb(255, 0, 0);
    margin-top: 5px;
}

p {
    color: aliceblue;
}

.zoznam {
    transition: transform 0.5s;
}

nav ul li a:hover {
    color: rgb(255, 0, 0);
}

button  {
    width: 175px;
    color: black;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 5px 1px 5px 1px;
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    transform: translateY(-5px);
}

[atribut] {
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
}

[atribut]:hover::after {
    content: attr(atribut);
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

.copy {
    color: rgb(255, 0, 0);
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11px;
    border-top: 1px solid rgb(255, 0, 0);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url(../images/hviezdy.jpg);
    background-position: center;
    background-size: cover;
}

.copytext {
    padding: 8px;
}

.stara_cena {
    text-decoration: line-through;
    text-decoration-color: red;
}