body{
    background-color: skyblue;
    margin: 0;
}
.menu{
    width: 3000px;
    background:black;
    overflow: auto;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: 0;
    line-height: 60px;  
    margin-left: 0px;
    
    
    
}
.menu li{
    float: left;
    background-color: white(184, 209, 209);
    text-decoration: none;
    width: 140px;
    display: block;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;

}
.menu ul li {
    background-color: white(0, 0, 0);
    text-decoration: none;
    width: 222px;
    display: block;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    border: solid 20px  black;

}

.hlava:hover {
    color: skyblue;
}


  a{
      color: white;
      text-decoration: none;
  }
  #logo{
      width: 100px;
  }
  #nazov{
      font-size: 90px;
      border: solid 0px white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top: 15px;
      color: white;

  }