body{
    background-color: rgb(88, 87, 87);
}
h1{
    font-size: 150px;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
        margin-left: 25px;
        margin-top: 5px;
  }
  table{
      width: 1600px;
      margin-left: 385px;
      font-size: 50px;
      margin-top: 0px;
  }