* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigacny_panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 9%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-top: 2px solid rgb(255, 0, 0);
}

.logo_stranka {
    margin-left: 100px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
}

nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: transform 0.5s;
}

.menu {
    margin-left: 20px;
    transition: transform 0.5s;
}

.kosik {
    margin-right: 120px;
}

.kontajner1 {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.kontajner {
    margin-top: 68px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
    padding-left: 8%; 
    padding-right: 8%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

.riadok {
    display: flex;
    height: 88%;
    align-items: center;
}

.stlpec {
    flex-basis: 50%;

}

h1 {
    color: rgb(255, 0, 0);
    font-size: 65px;
    line-height: 70px px;
    padding: 20px;
}

p {
    color: white;
    font-size: 15px;
    line-height: 17px;
    text-shadow: grey;
}

.mriezka {
    padding: 15px 25px;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

img {
    background-position: center;
    border-radius: 10px;
}

.mriezka:hover {
    transform: translateY(-5px);
}

nav ul li a:hover {
    color: rgb(255, 0, 0);
}

.stara_cena {
    text-decoration: line-through;
    text-decoration-color: red;
}

.nova_cena {
    color: red;
}


.copy {
    color: rgb(255, 0, 0);
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top: 2px solid rgb(255, 0, 0);
    font-size: 11px;
    border-top: 1px solid rgb(255, 0, 0);
    width: 100%;
    margin-top: 200px;
  
}

.copytext {
    padding: 8px;
}


