
body{

    background-color: black;
    color: white;
}

h1{
    text-align: center;
    color: red;
    font-family: 'Calibri', Times, serif;
}
h2{
    margin-left: auto;
    font-size: 30px;
}
a{
    color: white;
}
.ja{
    margin-right: 10px;
        margin-left: auto;
        display: flex;
        margin-top: -105px;
        border-radius: 50%;
        margin-right: 100px;
        width: 150px;
}
h3{
    font-size: 30px;
    margin-top: -40px;
}
p{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
table{
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    border: solid 1px white;
    
    
}
.tabulka{
    width: 350px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


